streamlit
fastapi
uvicorn
python-multipart
pydantic
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langchain-google-genai
faiss-cpu
rank_bm25
sentence-transformers
pypdf
deep-translator
langdetect
openai-whisper
torch
numpy
pandas
python-dotenv
pydantic-settings
httpx
gtts
requests
google-generativeai